<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Bogotá, Colombia</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Chapinero</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+57 312 833 9719</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:actuaria.jessica.franco@gmail.com">actuaria.jessica.franco@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://actuariajessicafranco.com">actuariajessicafranco.com</a></li>
  </ul>
</div>
